.menu-content{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-content a{
  font-size: 18px;
  color: #000;
  margin-right: 8px;
}

.menu-content a:hover{
  color: #000;
}

.menu-wallet{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}