.archived{
  color: #001529;
}

.archived-content{
  width: 100%;
  height: 660px;
  overflow-y: auto;
}

.archived-box{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  margin-bottom: 5px;
}

.archived-icon{
  margin-right: 20px;
}

.archived-icon img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.archived-url{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: rgba(59,130,246,0.5);
  padding-right: 10px;
}

.archived-modal .ant-btn{
  border: 1px solid #001529 !important;
  color: #001529 !important;
}

.archived-modal .ant-btn-primary{
  background: #001529 !important;
  border-color: #001529 !important;
}

.archived-modal .ant-btn-primary span{
  color: #fff !important;
}

.archived-modal-rules{
  margin-bottom: 2px;
}

.archived-modal-rules-index{
  margin-right: 5px;
}

.archived-modal-url{
  margin-top: 5px;
}

