.buy-button{
  font-size: 18px;
  color: #000;
  margin-right: 8px;
  cursor: pointer;
}
.we-close{
  font-size: 14px;
}

.we-buy-text{
  margin-right: 10px;
}

.buy-bef{
  margin-bottom: 10px;
}

.buy-bef span{
  margin-right: 10px;
}

.buy-bef a{
  font-size: 16px;
}

.buy-desc{
  margin-bottom: 10px;
}
